{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{{ image.title }}{% endblock title %}
{% block content %}
    <h1>{{ image.title }}</h1>
    <a href="{{ image.image.url }}">
        <img src="{% thumbnail image.image 300x0 quality=100 %}" class="image-detail">
    </a>
    {% with total_likes=image.users_like.count users_like=image.users_like.all %}
        <div class="image-info">
            <div>
                <span class="count">
                    <span class="total">{{ total_likes }}</span>
                    like{{ total_likes|pluralize }}
                </span>
                <a href="#" data-id="{{ image.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button">
                    {% if request.user not in users_like %}
                        Like 
                    {% else %}
                        Unlike
                    {% endif %}
                </a>
            </div>
            {{ image.description|linebreaks }}
        </div>
        <div class="image-likes">
            {% for user in users_like %}
            <div>
                <img src="{{ user.profile.photo.url }}">
                <p>{{ user.first_name }}</p>
            </div>
            {% empty %}
                Nobody liked this image yet.
            {% endfor %}
        </div>
    {% endwith %}
{% endblock content %}    
{% block domready %}
        console.log("In domready block");
        $('a.like').click(function(e){
            console.log("Click function executed");
            e.preventDefault();
            $.post('{% url "images:like" %}',
                {
                    id: $(this).data('action'),
                    action: $(this).data('action') 
                },
                function(data){
                    console.log("Inside data function");
                    if(data['status'] === "ok"){
                        console.log("ok");
                        var previous_action = $('a.like').data('action');
                        console.log("previous_action"+previous_action);

                        // toggle data-action 
                        $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');

                        // toggle link text 
                        $('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');

                        // update total likes 
                        var previous_likes = parseInt($('span.count .total').text());
                        console.log("previous_likes"+previous_likes);
                        $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
                    }
                }
            );
        });
{% endblock domready %}
